<!DOCTYPE html>
<html>
<head>
    {% if title %}    
        <title>{{title}} -- Micro blog </title>
    {% else %}
        <title>Home Page -- Micro blog </title>
    {% endif %}
</head>
<body>
<div>Microblog: 
    <a href="{{url_for('hello')}}">Home</a>
    {% if current_user.is_anonymous %}
        <a href="{{url_for('login')}}">Login</a>
    {% else %}
        <a href="{{url_for('logout')}}">Logout</a>
    {% endif %}
    <a href="/welcome?name=strange">Welcome</a>
</div>

{% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul>
            {% for message in messages %}
                <li>{{message}}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endwith %}
{% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
{% block content %}
{% endblock %}
</body>
</html>