{% extends "base.html" %}
{% block content %}
    <h1>User: {{user.username}}</h1>
    {% if user.last_seen %}
     <h1>Last Seen: {{user.last_seen}}</h1>
    {% endif %}
    {% if user.aboutme %}
     <h1>About me: {{user.aboutme}}</h1>
    {% endif %}
    {% for post in posts %}
        <hr>
        <p>
            {{post.author.username}} says:<b>{{post.body}}</b>
        </p>
    {% endfor %}
    {% if prev_url %}
        <a href="{{prev_url}}">Prev</a>
    {% endif %}
    {% if next_url %}
        <a href="{{next_url}}">Next</a>
    {% endif %}
    {% if current_user == user %}
        <a href="{{url_for('edit_profile')}}">Edit Profile</a>
    {% elif not current_user.is_following(user) %}
        <a href="{{url_for('follow',username=user.username)}}">Follow</a>
    {% else %}
        <a href="{{url_for('unfollow',username=user.username)}}">Unfollow</a>
    {% endif %}  
{% endblock %}